<section>

  <form class="signform" name="signinForm" ng-submit="us.authenticate()"  novalidate>
    <h2>
      Sign In
    </h2>
    <div class="content">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" ng-model="us.user.email" class="form-control" id="UserName" placeholder="Enter UserName" ng-required="true" autofocus >
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input ng-model="us.user.password" name="password" type="password" class="form-control" id="Password" placeholder="Password" ng-required="true">
      </div>

      <button type="submit" class="btn btn-lg btn-primary" ng-disabled="signinForm.$invalid">Submit</button>
    </div>
  </form>
</section>
